EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GAME_ID=21stackem
EXPO_PUBLIC_API_BASE_URL=http://192.168.0.111:3050
EXPO_PUBLIC_SOCKET_BASE_URL=ws://192.168.0.111:3050
EXPO_PUBLIC_HOLDEM_URL=
EXPO_PUBLIC_BIG_SLICK_GAMES_URL=https://bigslickgames.com
