NODE_ENV=local
APP_ENV=local
GAME_ID=21stackem
PORT=4100
MONGO_URI=mongodb://localhost:27017/bsg_21stackem_dev
REDIS_HOST=localhost
REDIS_PORT=6379
COMMON_API_BASE_URL=http://localhost:4000/api/v1
JWT_SECRET=local-dev-secret
