EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GAME_ID=21stackem
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:3001
EXPO_PUBLIC_SOCKET_BASE_URL=ws://127.0.0.1:3001
EXPO_PUBLIC_HOLDEM_URL=
EXPO_PUBLIC_BIG_SLICK_GAMES_URL=https://bigslickgames.com
